<ion-view view-title="Logs">
  <ion-nav-buttons side="right">
    <button class="button button-positive ion-refresh"
            ng-click="loadRecords()">
    </button>
  </ion-nav-buttons>
  <ion-content>
    <ion-list>
      <ion-item ng-repeat="rec in records" type="item-text-wrap">

        <h2> Status: {{rec.status}}</h2>
        <p>
          <span>Sign In Time: {{rec.signInTime}}</span>
          <span>Sign Out Time: {{rec.signOutTime}}</span>
        </p>


      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
