<ion-view view-title="SISO">
  <ion-nav-buttons side="right">
    <button class="button button-positive ion-home"
            ng-click="resetForm();"
            ng-disabled="record.status !== 'Signed-Out'">

    </button>
  </ion-nav-buttons>
  <ion-pane>


    <ion-content>
      <form>
        <div class="row">
          <div class="col">
            <strong>PIN: </strong>
            <input type="text" ng-model="user.pin">
          </div>
          <div class="col">
            <strong>Name: </strong>
            <input type="text" ng-model="user.name">
          </div>
        </div>

        <div class="row">
          <div class="col">
            <strong>Manager: </strong>
            <input type="text" ng-model="user.manager">
          </div>
          <div class="col"><strong>Status</strong>
            <p>
              {{record.status}}
            </p>
          </div>
        </div>

        <label class="item item-input item-stacked-label">
          <span class="input-label">Mobile Number or Emergency Contact</span>
          <input type="text" placeholder="?" value="{{user.contact}}">
        </label>


        <div class="list wrapping-list">

          <div class="item">

            <button class="button icon-left loc-padd"
                    ng-repeat="loc in locations"
                    ng-class="{'button-assertive': loc.checked || loc.id === record.locationId, 'ion-location': loc.checked || loc.id === record.locationId, 'button-stable': !loc.checked}"
                    ng-click="selectLocation(loc);"
                    ng-model="record.location">
              {{loc.name}}
            </button>

          </div>

          <div class="item">
            <button class="button icon-left loc-padd"
                    ng-repeat="cTime in myTimes"
                    ng-if="record.status === 'Non-Signed'"
                    ng-class="{'button-assertive': cTime.checked || cTime.hour === record.signInTime, 'ion-ios-time': cTime.checked || cTime.hour === record.signInTime, 'button-stable': !cTime.checked}"
                    ng-click="singInTime(cTime);"
                    ng-model="record.signInTime">
              {{cTime.hour}}
            </button>
            <button class="button icon-left button-assertive ion-ios-time"
                    ng-show="record.status === 'Signed-In' || record.status === 'Signed-Out'">
              {{record.signInTime}}
            </button>
          </div>

          <div class="item" ng-show="record.status === 'Signed-In' || record.status === 'Signed-Out'">
            <button class="button icon-left loc-padd"
                    ng-repeat="cTime in myTimes"
                    ng-if="record.status === 'Signed-In'"
                    ng-class="{'button-assertive': cTime.checked || cTime.hour === record.signOutTime, 'ion-ios-time': cTime.checked || cTime.hour === record.signOutTime, 'button-stable': !cTime.checked}"
                    ng-click="singOutTime(cTime);"
                    ng-model="record.signOutTime">
              {{cTime.hour}}
            </button>
            <button class="button icon-left button-assertive ion-ios-time"
                    ng-show="record.status === 'Signed-Out'">
              {{record.signOutTime}}
            </button>
          </div>

          <button class="button button-full {{submitColor}}"
                  ng-click="signIn()" ng-disabled="!enableSubmit()">
            {{submitLabel}}
          </button>

        </div>


      </form>
    </ion-content>
  </ion-pane>

  <!--  <ion-footer-bar class="bar-positive">
      <div class="title">Footer</div>
    </ion-footer-bar>-->

</ion-view>
