/* Empty. Add your own CSS if you like */

.sign-status{
  font-size: 2em;
  font-weight: bolder;
  text-align: right;
  display: block;
  color: green;
}

.loc-padd{
  margin: 3px 5px;
}

.loc-padd:hover{
  background-color: #ef473a;
}

.wrapping-list .item-content, .wrapping-list .item {
  overflow: initial;
  white-space: initial;
}

/*

.ion-location, .ion-ios-time{
  font-size: 2em;
  color: limegreen;
}

.list-btn{
  font-size: 14px;
}

.padding-sm{
  padding-right: 4px;
}
*/
